.navbar-custom {
  height: 60px;
  padding: 15px;
  font-size: small;
}
.navbar-custom button {
  font-size: smaller;
  color: black;
  border: 1px solid sandybrown;
  background-color: rgb(255, 231, 97);
}
.navbar-custom button:hover {
  border: 1px solid black;
  color: rgb(82, 82, 82);
  box-shadow: rgba(244, 246, 166, 0.599) 0px 8px 24px;
}
.Banner-heading {
  color: rgb(255, 255, 255);
}
.logs-div {
  font-weight: 500;
  font-size: xx-small;
}
.logs-div .butn {
  margin: 10px 0px;
  width: 150px;
  border-radius: 10px;
  padding: 5px;
  border: 1px solid sandybrown;
  background-color: rgb(255, 231, 97);
}
.logs-div .butn:hover {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border: 1px solid rgba(8, 8, 7, 0.478);
}
.logs-div .sec {
  font-weight: bold;
  color: #2b2b2bd1;
  margin-top: 5px;
}
.logs-div .sec-body {
  font-weight: lighter;
  color: #414040;
  line-height: 20px;
  margin: 8px;
}
hr {
  width: 80%;
  margin: 0px;
}
.canva {
  width: 500px;
  height: 300px;
  border: 1px solid salmon;
}
.vidTxt {
  font-size: x-small;
  padding: 0px;
  margin: 0px;
}
